SPRING_APPLICATION_NAME=loan-platform
SERVER_PORT=8080

POSTGRES_URL=jdbc:postgresql://localhost:5432/ezfinanz
POSTGRES_USERNAME=postgres
POSTGRES_PASSWORD=

JWT_SECRET=
JWT_EXPIRATION=86400000

MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=

MESSAGECENTRAL_CUSTOMER_ID=
MESSAGECENTRAL_EMAIL=
MESSAGECENTRAL_PASSWORD=

SUPERADMIN_EMAIL=
SUPERADMIN_PASSWORD=
